@use "../../styles" as *;

.key-code {
  max-width: 90rem;
  margin: 5vw auto;

  display: flex;
  justify-content: center;

  &__cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 1rem;

    @include respond-to-lg {
      gap: 0.5rem;
    }

    @include respond-to-md {
      max-width: 35rem;
      grid-template-rows: repeat(6, 1fr);
    }
  }
}
